input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

body{

  background-color: rgb(15, 222, 225);
}



.display{
 
  position: relative;
  bottom: 529px;
  left: 672px;
  box-shadow:blue;

}

table th {

  padding: 0 38px;;
}
